<appSettings>
  <add key="FacebookAppId" value="969738046729755"/>
  <add key="FacebookAppSecret" value="16a26d15587c6675e6285bd809336419"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>