@model IEnumerable<MyMovieStore.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {


            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers", // client side pagination ,this approach is good for up to 1000 customers but for-
                                           //more than that we need to do sorting and everything at server side.
                    dataSrc: "",

                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "membershipType.name"
                    },
                ]
            });

        });
    </script>
}